.mainSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  height: 100vh; /* 화면 전체 높이 */
}

.leftMainSection {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.title {
  margin-top: 1vh;
  margin-bottom: 1.8vh;
  font-size: 4vw;
  font-weight: 1000;
  color: var(--primary-color);
}

.subtitle {
  margin-top: 0;
  margin-bottom: 2vh;
  font-size: 2.2vw;
  font-weight: bold;
  color: var(--normal-color);
}

.startBtnWrapper {
  text-align: center;
  padding-right: 20vw;
}

.startBtn {
  margin-top: 8vh;
  font-size: 1.8vw;
  font-weight: bold;
  background-color: var(--primary-color);
  color: whitesmoke;
  cursor: pointer;
  padding: 1.2vw 2.6vw;
  border: white solid 2px;
  border-radius: 8px;
  box-shadow: 0 0 16px 1px #7fa1fc; /* TODO : 적절한 색상 제안 받아야 함 */
}

.startBtn:hover {
  background-color: var(--secondary-color);
  border: white solid 2px;
}

.mainImage {
  max-width: 100%;
  height: auto;
}
